.title{
  position: relative;
  font-style: italic;
  display: block;
  max-width: 768px; 
  margin: 40px auto; 
  padding: 15px 15px;

  text-align: center;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 2px;
  backdrop-filter: blur(15px);
  color: #0a0000;
}

.title::before {
  content: attr(data-text);
  position: absolute;
  transform-origin: bottom;
  transform: rotateX(180deg);
  line-height: 1em;
  background: linear-gradient(0deg, #0a000088 0, rgba(255, 255, 255, 0.096) 80%);
  background-clip: text;
  color: rgba(129, 117, 117, 0);
  opacity: 0.5;
}